// Colors
$clr1: #0A1F38;
$clr2: #1B2F46;
$clr3: #2F4056;
$clr4: #9DA5AF;
$clr5: #819400;
$clr6: #97AB0D;
$clr7: #A5BB0C;
$clr8: #B1C909;
$clr9: #FFFFFF;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;